.navbar{
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px
}
.navbar-nav{
  text-align: left;
} 

@media screen and (min-width: 500px) { 
  
}

.white {
  color: azure;
}


.header  {
  opacity: .1;
}
.header:hover  {
  opacity: 1;
}
